<!DOCTYPE HTML>
<html>
<head>
<title>Estilloso</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Affluence Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- css files -->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/jQuery.lightninBox.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/team.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/portfolio.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/services.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/pogo-slider.min.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/nav.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/aos.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- /css files -->
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css">
<!-- fonts -->
<!-- js files -->
<script src="js/modernizr.js"></script>
<!-- /js files -->
</head>
<body>
<!-- banner section -->
<section class="banner-w3ls">
	<div class="logo-w3ls">
		<a href="views/index.html"><h1>Search Engine Optimization</h1></a>
	</div>	
	<div class="navigation-w3ls">
		<button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
		<div class="overlay overlay-door">
			<button type="button" class="overlay-close">Close</button>
			<nav>
				<ul>
					<li><a href="/" class="page-scroll">Home</a></li>
					<li><a href="#assign1" class="page-scroll">Assignment 1</a></li>
					<li><a href="#assign2" class="page-scroll">Assignment 2</a></li>
					<li><a href="#assign3" class="page-scroll">Assignment 3</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="pogoSlider" id="js-main-slider">
		<div class="pogoSlider-slide" data-transition="verticalSlide" data-duration="2000"  style="background-image:url(../images/banner1.jpg);">
			<div class="pogoSlider-slide-element">
			<div class="container">
					<h1>SEO stands for “search engine optimization.” It is the process of getting traffic from the “free,” “organic,” “editorial” or “natural” search results on search engines.</h1>
				</div>	
				</div>
				</div>
		<div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000"  style="background-image:url(images/banner2.jpg);">
			<div class="pogoSlider-slide-element">
			<div class="container">
				<h1>As an Internet marketing strategy, SEO considers how search engines work, what people search for, the actual search terms or keywords typed into search engines and which search engines are preferred by their targeted audience.</h1>
			</div>
		</div>
		</div>	
		<div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000"  style="background-image:url(images/banner3.jpg);">
			<div class="pogoSlider-slide-element">
			<div class="container">
				<h1>More SEO Guides and Books<br>
                  Another excellent guide is Google’s “Search Engine Optimization Starter Guide.” This is a free PDF download that covers basic tips that Google provides to its own employees on how to get listed. You’ll find it <a rel="nofollow" href="https://static.googleusercontent.com/media/www.google.com/en//webmasters/docs/search-engine-optimization-starter-guide.pdf">here</a>.</br></h1>
			</div>
		</div>
		</div>
		<div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000"  style="background-image:url(images/banner4.jpg);">
			<div class="pogoSlider-slide-element">
			<div class="container">
				<h1>Also well worth checking out is Moz’s “Beginner’s Guide To SEO,” which you’ll find <a rel="nofollow" href="https://moz.com/beginners-guide-to-seo">here</a>, and the <a rel="nofollow" href="http://www.smallbusinesssem.com/the-seo-success-pyramid/971/">SEO Success Pyramid</a> from Small Business Search Marketing.</h1>
			</div>
		</div>
		</div>
</section>
<!-- /banner section -->
<!-- assign1 section -->
<section class="portfolio-agileinfo" id="assign1">
	<div class="container">
		<h3 class="text-center">Assignment 1</h3>
		<span class="fa fa-star-o" aria-hidden="true"></span>
		<body style="background-color: #0A5F54;">
		<div style="float: left; width: 40%;">
			<ul><h1>1. Guidelines on how to read a Search Engine Results Page.</h1>
                  <p><h3>LOOK AT LOCAL RESULTS: There is a relatively new type of result that has become incredibly important, with a huge presence in many search-results pages.</h3></p>
                  <p><h3>CHECK OUT SHOPPING RESULTS: It is often not hard for the search engines to figure out when someone is quite likely searching for a product he may be interested in buying.</h3></p>
                  <p><h3>STAY CURRENT WITH NEWS RESULTS: If the search engines think News results might be useful to you, based on your search — search for obama or just about any country name, for instance then you will see News results embedded into the results page.</h3></p> 
                  <p><h3>GET FRIENDLY WITH SOCIAL RESULTS: Currently the three major search engines incorporate social-network results into the organic index; in other words, they index social-network sites just like any other site.</h3></p>
                  <h1>2. How SEO Affects Business?</h1></li><p><h3>It makes the website exist and be accessed by other people so that it can gain popularity and subsequent value. By making it more detailed, potential customers have a clear idea of what they want and what they expect to get if they come to your site or business to purchase your products and/or services.</h3></p></ul></div><div style="float: right; width: 40%">
                  <ul><h1><br>3. List some of important SEO expectations.</h1><p><h3>STEP 1: DEFINE YOUR TARGET AUDIENCE AND THEIR INTERESTS: The first step in most marketing campaigns, Search Marketing included, is to start by defining your target audience. Your target audience is a defined set of people who you are marketing your product to.
                  This goes beyond regular SEO practices and into site strategy, although providing relevant, useful content in itself is linkbait.
                  </h3></p>
                  <p><h3>STEP 2: CATEGORIZED KEYWORD RESEARCH: Step 2 isn’t groundbreaking stuff, but it’s approached in a slightly different manner in order to use and abuse further in our strategy document. It’s your regular keyword research broken out into categories for segmentation and prioritization.</h3></p>
                  <p><h3>Step 3: FINDING GAPS & OPPORTUNITIES: Basically means we’re going to look at estimated search volume, and referral volume to try to get a sense where we might be doing well and we might not be. Because search volume numbers that we have are estimates.</h3></p>
                  <p><h3>Step 4: DEFINE COMPETITORS: There are several ways you can do this. If you’ve already got a method you like and want to stick with – by all means do (and if you’re compelled to share your method with us in the comments – you know we love to hear it).</br></h3></p></ul></div>
		
	</div></body></div></div>
</section>
<!-- /assign1 section -->

<!-- assign2 section -->
<section class="portfolio-agileinfo" id="assign2">
	<div class="container">
		<h3 class="text-center">Assignment 2</h3>
		<span class="fa fa-star-o" aria-hidden="true"></span>
		
			<div style="float: left; width: 40%;">
			<ul><h1><p class="special">1. What is the difference between SEO and SEM?</h1></p>
                <p><h3>SEO is about optimizing your website to get better rankings in the search results while SEM is a marketing process through buying an advertisement space and get traffic free in front of the searches.</h3></p>
                <p><h1>2. Briefly discuss the following SEO Strategies listed:</h1></p>
                <p><h3>a. Domain name strategy: It proactively protect the brand online by reducing the chance for others to use the brand name in their online activities.</h3></p>
                <p><h3>b. Linking Strategy: Links aren't everything in SEO, but search professionals attribute a large portion of the engines' algorithms to link-related factors. Through links, engines can not only analyze the popularity websites and pages based on the number and popularity of pages linking to them, but also metrics like trust, spam, and authority. </h3></p>
                <p><h3>c. Keyword Strategy: This strategy is essential in developing winning search engine marketing campaigns. Keyword strategy should have selecting high-performing keywords that drive relevant traffic to the business.</h3></p>
                <p><h3>d. Title tags strategy: Title tags are part of the meta tags that appear at the top of HTML inside the < head> area. Think of title tags like the title of the chapter of a book. It tells people and search engines what your page is about.
                </h3></p></p></ul></div><div style="float: right; width: 40%">
                  <ul><h3><br>e. Meta description tags strategy: Meta descriptions are HTML attributes that provide concise summaries of webpages. They commonly appear underneath the blue clickable links in a search engine results page (SERP).</h3></p>
                <p><h3>f. Alt tags strategy: An alt tag, also known as "alt attribute" and "alt description," is an HTML attribute applied to image tags to provide a text alternative for search engines. Applying images to alt tags such as product photos can positively impact an ecommerce store's search engine rankings.
                Search engines and other robots cannot interpret images, but images can play a crucial part in how people interpret a particular web page.</h3></p>
                <p><h3>g. Search Engine Indexing strategy: Search engine indexing is the process of a search engine collecting, parses and stores data for use by the search engine. It is the search engine index that provides the results for search queries, and pages that are stored within the search engine index that appear on the search engine results page.</h3></p>
                <p><h1>3. Is it possible to combine strategies? If yes, which strategies woulld you like to implement? Why?</h1></p>
                <p><h3>Yes, Domain name strategy and Keyword strategy may be possible. Using domain name strategy makes the brand unique because no one can reuse their name and keyword strategy makes the name easier to search and user can easily remember.</h3></p></br></ul></div>
		
	</div>
	</div></div>
</section>
<!-- /assign2 section -->
<!-- assign3 section -->
<section class="portfolio-agileinfo" id="assign3">
	<div class="container">
		<h3 class="text-center">Assignment 3</h3>
		<span class="fa fa-star-o" aria-hidden="true"></span>
		
			<div style="float: left; width: 40%;">
			<ul><h1><p class="special">In your own words, what is the difference between ON-PAGE SEO and OFF PAGE SEO?</h1></p>
                <p><h3>On-page SEO is the practice of optimizing individual web pages in order to rank higher and earn more relevant traffic in search engines. On-page refers to both the content and HTML source code of a page that can be optimized while Off-page SEO refers to links and other external signals or techniques that can be used to improve the position of a website in the search engine results page.</h3></p>
                <p><h1>Briefly discuss the following SEO guides for ON-PAGE technique</h1></p>
                <p><h3>1. PAGE TITLES: age Titles: Your page titles are one of the most important SEO factors on your site. Each of your pages & posts should have its own unique title, which includes the main keywords for that page.</h3></p>
                <p><h3>2. META DESCRIPTIONS: Many people forget to include meta descriptions for their pages. These descriptions are an important place to include relevant keywords for your content, as these are used within the search results when your page is listed.</h3></p>
                <p><h3>3. META TAGS: For each of your pages, you can include a set of keywords in the form of meta tags. These should be all the relevant keywords of your content, which you will have researched previously.</h3></p>
                <p><h3>4. URL STRUCTURE: Including search engine friendly URLs for each of pages is highly recommended, as these bring better crawling. Shorter URLs seem to perform better in search engine results.
                </h3></p>
                <p><h3>5. BODY TAGS (H1, H2, H3, H4, etc.): When writing articles, it should break up the content into smaller sections & paragraphs to make it easier for people to read.</h3></p>
                <p><h3>6. KEYWORD DENSITY: Including relevant keywords throughout the content is very important, as it helps search engines work out what the content is about.</h3></p>
                <p><h3>7. IMAGE SEO: On-Page SEO using images within the content is a great way to make the site more visually appealing and break up boring chunks of text.</h3></p>
                <p><h3>8. INTERNAL LINKING: People often think that the only links that count are those from other websites. While these links are important, these are not the only important links.</h3></p></p></ul></div><div style="float: right; width: 40%">
                  <ul><h1><br>Briefly discuss the following SEO guides for OFF-PAGE technique.</h1></p>
                <p><h3>1. SOCIAL MEDIA ENGAGEMENT: A major Off-page SEO technique is social media engagement. Social media presence will help grow your business and also help you get more back links.</h3></p>
                <p><h3>2. SOCIAL BOOKMARKING: Sites Social bookmarking sites are one of the best platforms, when you bookmark your webpage or blog post on popular social bookmarking websites, you gain high traffic to your webpage or blog.</h3></p>
                <p><h3>3. FORUM SUBMISSION: Participate in search forums which are related to your website and business and make a connection with that community.</h3></p>
                <p><h3>4. BLOG DIRECTORY: Submission Directory Submission is constantly working to build quality back links. Choose an effective directory and select a proper category.</h3></p>
                 <p><h3>5. ARTICLE SUBMISSION: Submit your articles in a high PR article submission directory. You can also give links to your website. Make sure your content is unique and of high quality.</h3></p>
                <p><h3>6. QUESTION AND ANSWER: One of the best ways you can get high traffic is from question and answer websites. Join high PR question and answer sites and search for questions related to your business, blog or website.</h3></p>
                <p><h3>7. VIDEO SUBMISSION: If you want to make your videos popular, head to popular video submission sites. Give a proper title, description, tags and reference links.</h3></p>
                <p><h3>8. IMAGE SUBMISSION: Share your photos on popular image submission websites. Before submitting your images, check if they have a proper title, description and tags.</h3></p>
                <p><h3>9. INFOGRAPHICS SUBMISSION: Make creative infographics. These days, infographics are getting popular on the internet. Submit your infographics on infographics submission websites and give reference links to your webpage or blog.</h3></p>
                <p><h3>10. DOCUMENT SHARING: Create attractive documents relating to your business or blog. The documents should have unique content and should be in either pdf or ppt formats.</h3></p></br></ul></div>
		
	</div>
	</div></div>
</section>
<!-- /assign3 section -->
<section class="contact-w3layouts jarallax" id="contact">
</section>
<!-- copyright section -->
<div class="copright-w3">
	<div class="container">
		<div class="col-lg-6 col-md-6 col-sm-6">
			<ul class="link-w3l cl-effect-21">
				<li><a href="#assign1" class="page-scroll">Assignment 1</a></li>
				<li><a href="#assign2" class="page-scroll">Assignment 2</a></li>
				<li><a href="#assign3" class="page-scroll">Assignment 3</a></li>
			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- /copyright section -->
<!-- js files -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src='js/aos.js'></script>
<script src="js/lazyload.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/grayscale.js"></script>
<script src="js/jarallax.js"></script>
<script type="text/javascript">
    $('.jarallax').jarallax({
        speed: 0.5,
        imgWidth: 1680,
        imgHeight: 925
    })
</script>
<!-- js for assign2 -->
<script src="js/imagesloaded.pkgd.min.js"></script>
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/classie2.js"></script>
<script src="js/cbpGridGallery.js"></script>
<script>
	new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
</script>
<!-- /js for assign2 -->
<!-- js for assign1 -->
<script type="text/javascript" src="js/jquery.slide.js"></script>
<script type="text/javascript">
	$('#slideshow-banner').slide({
		cdTime : 5000,      
	    controllerLeftButton : "images/left.png",   
	    controllerRightButton : "images/right.png"   
	});
</script>
<!-- /js for assign1 -->
<!-- js for banner -->
<script src="js/jquery.pogo-slider.min.js"></script>
<script src="js/main.js"></script>
<!-- /js for banner -->
<!-- js for navigation -->
<script src="js/classie.js"></script>
<script src="js/demo1.js"></script>
<!-- /js for navigation -->

</body>
</html>